<%= form_for @finalised_status_changer, url: project_project_finaliser_path(@project) do |f| %>
  <% if @finalised_status_changer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize @finalised_status_changer.errors.count, 'error' %> prevented this project from being finalised</h2>
      <ul>
        <% @finalised_status_changer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :purchase_order %>
    <%= f.text_field :purchase_order %>
  </div>

  <% if false %>
  <%= f.fields_for :print_jobs_form_objects do |pj_fields| %>
    <%= field_set_tag pj_fields.object.name do %>
      <div class="field">
        <%= pj_fields.label :envisage_sale_price %>
        <%= pj_fields.number_field :envisage_sale_price, step: "any" %>
      </div>

      <div class="field">
        <%= pj_fields.label :envisage_trade_sale_price %>
        <%= pj_fields.number_field :envisage_trade_sale_price, step: "any" %>
      </div>

      <div class="field">
        <%= pj_fields.label :envisage_to_my_sale_price %>
        <%= pj_fields.number_field :envisage_to_my_sale_price, step: "any" %>
      </div>
      
      <div class="field">
        <%= pj_fields.label :my_sale_price %>
        <%= pj_fields.number_field :my_sale_price, step: "any" %>
      </div>
    <% end %>
  <% end %>
  <% end %>


  <%= f.submit "Finalise" %>
<% end %>
