<div class="prices">
  <h3>Prices</h3>
  <div>
    <h6>Envisage Customer</h6>
    Standard: <%= number_to_currency @print_job.price %>
    Rush Job: <%= number_to_currency @print_job.rush_job_price %>
  </div>

  <div>
    <h6>Envisage Trade</h6>
    Standard: <%= number_to_currency @print_job.trade_price %>
    Rush Job: <%= number_to_currency @print_job.trade_rush_job_price %>
  </div>
  
  <div>
    <h6>To My</h6>
    Standard: <%= number_to_currency @print_job.my_price %>
    Rush Job: <%= number_to_currency @print_job.my_rush_job_price %>
  </div>

  <div>
    <h6>To My Customer</h6>
    Standard: <%= number_to_currency @print_job.my_customer_price %>
    Rush Job: <%= number_to_currency @print_job.my_customer_rush_job_price %>
</div>
