<h1><%= @print_job.name %></h1>

<%= link_to "Edit", edit_print_job_path(@print_job) %>

<%= render "print_jobs/products", print_job: @print_job %>
<%= render "print_jobs/supporting_products", print_job: @print_job %>
<%= render "print_jobs/labour", print_job: @print_job %>
<%= render "print_jobs/sundry_items", print_job: @print_job %>
<%= render "print_jobs/job_specifications", print_job: @print_job %>
<%= render "print_jobs/mileage", print_job: @print_job %>
<%= render "print_jobs/account_management", print_job: @print_job %>
<%= render "print_jobs/design", print_job: @print_job %>
<%= render "print_jobs/prices", print_job: @print_job %>

