<div class="content">
  <div class="main">
    <h1>
      <%= @print_job.name %>
      <%= link_to octicon('pencil'), edit_print_job_path(@print_job) %>
    </h1>

    <%= simple_format @print_job.description if @print_job.description.present? %>

    <div class="summarised-content">
      <% present @print_job do |print_job_presenter| %>
        <h6><%= print_job_presenter.job_type %></h6>
        Brand price: <span class="project-price"><%= print_job_presenter.brand_price_currency %></span>
        Envisage price: <span class="project-price"><%= print_job_presenter.envisage_price_currency %></span>
      <% end %>

      <%#= render "print_jobs/prices", print_job: @print_job %>
    </div>

    <%= link_to "Back To Project", project_path(@print_job.project_id) %>
  </div>
</div>


<%= render "print_jobs/products", print_job: @presented_print_job %>
<%= render "print_jobs/supporting_products", print_job: @presented_print_job %>
<%= render "print_jobs/labour", print_job: @presented_print_job %>
<%= render "print_jobs/sundry_items", print_job: @presented_print_job %>
<%= render "print_jobs/job_specifications", print_job: @presented_print_job %>
<%= render "print_jobs/mileage", print_job: @presented_print_job %>
<%= render "print_jobs/account_management", print_job: @presented_print_job %>
<%= render "print_jobs/design", print_job: @presented_print_job %>
<%= render "print_jobs/my_service_items", print_job: @print_job %>
