<% present project do |project_presenter| %>
  <%= link_to project_presenter.link, class: "basic-listing project #{cycle('odd', 'even', class: 'project')}", id: project_presenter.dom_id do %>
    <div class="project-name">
      <%= project_presenter.name %>

      <div class="project-print-jobs-count">
        <%= project_presenter.customer_name %>: <%= project_presenter.print_jobs_count %> print items.
      </div>
    </div>

    <div class="project-prices-summary">
      <%= render 'projects/prices', project: project %>
    </div>

    <div class="project-brand">
      <%= project_presenter.brand_name %>
    </div>
  <% end %>
<% end %>
