<div class="quote-stage-button-<%= project.id %>">
  <%= link_to "#{octicon('pencil')} #{project.quote_stage.name}".html_safe,
              '#',
              class: "toggle-class quote-type-edit-link #{project.quote_stage.name.parameterize}",
              data: {
                class: 'hide',
                container: ".project-#{project.id}",
                return: false
              } %>

  <%= content_tag :div, "Updated at: #{l project.quote_stage_updated_at, format: :short}", class: 'quote-stage-updated-at' if project.quote_stage_updated_at.present? %>

  <div class="quote-status-change-form hide project-<%= project.id %>">
    <%= simple_form_for project, remote: true do |f| %>
      <%= f.association :quote_stage, include_blank: false %>

      <%= f.button :submit %>
    <% end %>
  </div>
</div>
