<h2>Job Description:</h2>

<h3><%= project.name %></h3>

<%= simple_format project.description %>

<h3>Costs:</h3>

<table class="print-jobs">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="item">Description</th>
      <th class="price">Cost</th>
    </tr>
  </thead>
  <tbody>
    <% project.print_jobs.each do |print_job| %>
      <tr>
        <td><%= simple_format print_job.name %></td>
        <td><%= simple_format print_job.description %></td>
        <td><%= number_to_currency print_job.brand_price %></td>
      </tr>
    <% end %>
    <% project.discounts.each do |discount| %>
      <tr>
        <td colspan="2"><%= discount.description %></td>
        <td><%= number_to_currency -discount.amount %></td>
      </tr>
    <% end %>

    <tr>
      <td colspan="2">
        Total exc. VAT
      </td>
      <td>
        <%= number_to_currency project.brand_price %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        VAT
      </td>
      <td>
        <%= number_to_currency project.vat %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        Total inc. VAT
      </td>
      <td>
        <strong><%= number_to_currency project.brand_price_inc_vat %></strong>
      </td>
    </tr>
  </tbody>
</table>

