<% if brand.terms_conditions_link.present? %>
  <p>
    For full terms and conditions, please visit
    <%= link_to brand.terms_conditions_link,
        brand.terms_conditions_link %>.
  </p>
<% end %>

<p>
  <%= brand.name %> is a trading name of <%= brand.company_name %>.<br />
  <%= brand.company_name %> is registered as a company in England &amp; Wales Company Reg No <%= brand.company_reg_no %> VAT NO: <%= brand.vat_no %>
</p>
