<header>
  <div class="brand-logo">
    <%= image_tag project.logo, class: "logo" %>
  </div>

  <ul class="brand-contact-details">
    <li>
      <div class="brand-contact-type">A:</div>

      <strong class="accent">
        <%= project.business_address.single_line if project.business_address.present? %>
      </strong>
    </li>
    <li>
      <div class="brand-contact-type">T:</div>
      <strong class="accent"><%= project.brand.telephone %></strong>
    </li>
    <li>
      <div class="brand-contact-type">E:</div>
      <strong class="accent"><%= project.brand.email %></strong>
    </li>
    <li>
      <div class="brand-contact-type">W:</div>
      <strong class="accent"><%= project.brand.website %></strong>
    </li>
  </ul>

</header>

<div class="clear"></div>

<%= render partial: 'downloads/shared/quote', locals: { project: project, current_user: user } %>

<%= render partial: 'downloads/project_details',
  locals: { project: project } %>

<p class="quote-validity">All quotes are valid for 14 days.</p>

<p>
  I hope that this quotation meets your requirements and that we are able to
  provide these services for you. Should you wish to go ahead with this quote
  our terms are outlined below for you.
</p>

<p>
  Prices are exclusive of VAT where applicable. All prices quoted are subject
  to labour and materials costs ruling at date of order and are EX-WORKS
  unless otherwise shown. Unless explicitly specified all artwork for print will
  be converted for CMYK output.
</p>

<%= render(
  partial: "downloads/account_manager_details",
  locals: { current_user: user, project: project }
) %>

<%= render(
  partial: "downloads/footer",
  locals: { project: project }
) %>
