<header>
  <div class="brand-logo">
    <%= image_tag project.logo, class: "logo" %>
  </div>

  <ul class="brand-contact-details">
    <li>
      <div class="brand-contact-type">A:</div>

      <strong class="accent">
        <%= project.business_address.single_line %>
      </strong>
    </li>
    <li>
      <div class="brand-contact-type">T:</div>
      <strong class="accent"><%= project.brand.telephone %></strong>
    </li>
    <li>
      <div class="brand-contact-type">E:</div>
      <strong class="accent"><%= project.brand.email %></strong>
    </li>
    <li>
      <div class="brand-contact-type">W:</div>
      <strong class="accent"><%= project.brand.website %></strong>
    </li>
  </ul>

</header>

<div class="clear"></div>

<% if project.quoted? %>
  <%= render partial: 'downloads/shared/quote', locals: { project: project, current_user: user } %>
<% else %>
  <%= render partial: 'downloads/shared/invoice', project: project %>
<% end %>
