<%= render(
  partial: "downloads/header",
  locals: {
    project: project
  }
) %>

<div class="clear"></div>

<div class="quote-details">
  <h1 class="quote-title">
    Invoice
  </h1>

  <div class="quote-reference">
    Invoice Number: <%= invoice.id + 500 %><br />
    <% if project.purchase_order.present? %>
      Purchase Order Number: <%= project.purchase_order %><br />
    <% end %>
    Date: <%= l invoice.created_at.to_date %>
  </div>
</div>

<h2>
  <%= project.customer_name %>
</h2>

<%= render(
  partial: 'job_sheets/address',
  locals: {
    address: project.billing_address
  }
) %>

<%= render(
  partial: 'invoices/project_details',
  locals: { 
  project: project, 
  invoice: invoice
  }
) %>

<p>
  Please make all cheques payable to Ludo Studio LTD
</p>

<p>
  Bacs Payment<br/>
  Sort Code: 20-43-47<br/>
  Account Number - 63034607
</p>

<p>
  Payment terms are 30 days net - unless otherwise specified on invoice
  all goods / services remain the property of Ludo Studio LTD
  until payment is made in full
</p>

<%= render(
  partial: "downloads/terms_and_conditions",
  locals: { brand: project.brand }
) %>
