<%= render(
  partial: "downloads/header",
  locals: {
    project: project
  }
) %>

<div class="clear"></div>

<div class="quote-details">
  <h1 class="quote-title">
    Invoice
  </h1>

  <div class="quote-reference">
    Invoice Number: <%= invoice.number %><br />
    <% if project.purchase_order.present? %>
      Purchase Order Number: <%= project.purchase_order %><br />
    <% end %>
    Date: <%= l invoice.created_at.to_date %>
  </div>
</div>

<h2>
  <%= project.customer_name %>
</h2>

<% if project.billing_address %>
  <%= render(
    partial: 'job_sheets/address',
    locals: {
      address: project.billing_address
    }
  ) %>
<% end %>

<%= simple_format project.description %>

<%= render(
  partial: "invoices/#{ invoice.has_attribute?(:type) ? invoice.type.underscore : 'percentage_invoice' }_project_details",
  locals: {
    project: project,
    invoice: invoice
  }
) %>

<% if invoice.has_attribute? :due_date %>
  <p>
    Payment due on <%= l invoice.due_date %>
  </p>
<% end %>

<p>
  You can pay online by visiting <%= link_to customer_invoice_url(invoice), customer_invoice_url(invoice) %>.
</p>

<p>
  Please make all cheques payable to <%= project.brand.company_name? ? project.brand.company_name : 'Ludo Studio Ltd' %>
</p>

<p>
  Bacs Payment<br/>
  Sort Code: <%= project.brand.bank_sort_code? ? project.brand.bank_sort_code : '20-43-47' %><br/>
  Account Number - <%= project.brand.bank_account_number? ? project.brand.bank_account_number : '63034607' %>
</p>

<p>
  Payment terms are immediate - unless otherwise specified on invoice
  all goods / services remain the property of <%= project.brand.company_name? ? project.brand.company_name : 'Ludo Studio Ltd' %>
  until payment is made in full
</p>

<%= render(
  partial: "downloads/terms_and_conditions",
  locals: { brand: project.brand }
) %>
