<header>
  <div class="brand-logo">
    <%= image_tag project.logo %>
  </div>
</header>

<div class="clear"></div>

<%= render(
  partial: "job_sheets/project_details",
  locals: {
    project: project
  }
) %>

<div>
  Price Paid To Envisage: <%= number_to_currency project.envisage_to_my_price %>
</div>
<div>
  Customer Price: <%= number_to_currency project.brand_price %>
</div>
<div>
  Profitability: <%= number_to_currency project.envisage_profit %>
</div>

<%= render(
  partial: "job_sheets/totals",
  locals: {
    main_totaliser: Totalisers::Main.new(project: project, for_my: false)
  }
) %>

<% if project.shipping_address && project.billing_address %>
  <%= render(
    partial: "job_sheets/address_details",
    locals: {
      shipping_address: project.shipping_address,
      billing_address: project.billing_address
    }
  ) %>
<% end %>

<%= render(
  partial: "my_job_sheets/print_job",
  collection: project.print_jobs,
  as: :print_job
) %>


