<div class="quote-details">
  <h1 class="quote-title">
    Quote
  </h1>

  <div class="quote-reference">
    Quote ref: <%= project.customer.id %>-<%= project.id + 100 %>
  </div>
</div>

<h2 class="quote-date">
  Date: <%= l Date.today, format: :default %>
</h2>

<p>Dear <%= project.customer.name %>,</p>

<p>
  Thank you for your recent enquiry, please find the details and prices below.
  If you have any questions or would like to discuss the quote further then
  please don’t hesitate to contact me.
</p>

<h2>Job Description:</h2>

<p><%= project.name %></p>

<h3>Costs:</h3>

<table class="print-jobs">
  <thead>
    <tr>
      <th class="item">Item</th>
      <th class="price">Cost</th>
    </tr>
  </thead>
  <tbody>
    <% project.print_jobs.each do |print_job| %>
      <tr>
        <td><%= print_job.name %></td>
        <td><%= number_to_currency print_job.brand_price %></td>
      </tr>
    <% end %>

    <tr>
      <td>
        Total exc. VAT
      </td>
      <td>
        <%= number_to_currency project.brand_price %>
      </td>
    </tr>

    <tr>
      <td>
        VAT
      </td>
      <td>
        <%= number_to_currency project.vat %>
      </td>
    </tr>

    <tr>
      <td>
        Total inc. VAT
      </td>
      <td>
        <strong><%= number_to_currency project.brand_price_inc_vat %></strong>
      </td>
    </tr>
  </tbody>
</table>

<p class="quote-validity">All quotes are valid for 14 days.</p>

<p>
  I hope that this quotation meets your requirements and that we are able to
  provide these services for you. Should you wish to go ahead with this quote
  our terms are outlined below for you.
</p>

<p>
  Prices are exclusive of VAT where applicable. All prices quoted are subject
  to labour and materials costs ruling at date of order and are EX-WORKS
  unless otherwise shown. Unless explicitly specified all artwork for print will
  be converted for CMYK output.
</p>

