<div class="project-report <%= cycle('odd', 'even') %>">
  <div class="name">
    <%= link_to project.name, project %><br>
    <%= project.customer_name %>
  </div>
  <div class="price-field">
    <%= number_to_currency project.brand_price %>
  </div>
  <div class="price-field">
    <%= number_to_currency project.brand_profit %>
  </div>
  <div class="price-field">
    <%= number_to_currency project.envisage_to_my_price %>
  </div>
  <div class="price-field">
    <%= number_to_currency project.envisage_profit %>
  </div>
  <div class="price-field">
    <%= number_to_currency project.cost %>
  </div>
  <div class="invoice-field">
    <%= number_to_currency project.envisage_profit_without_labour %>
  </div>
  <div class="invoice-field">
    <%= number_to_currency project.envisage_cost_without_labour %>
  </div>
</div>
