<div class="content">
  <div class="main">
    <h1>New Customer</h1>

    <%= simple_form_for @customer_registration do |f| %>
      <%= field_set_tag "Customer", class: 'fieldset-group' do %>
        <div class="equal-width-form">
          <%= f.input :customer_name %>
          <%= f.input :customer_credit_limit, as: :decimal %>
        </div>
      <% end %>

      <%= field_set_tag "Main Contact", class: 'fieldset-group' do %>
        <div class="equal-width-form">
          <%= f.input :contact_name %>
          <%= f.input :contact_role %>
          <%= f.input :contact_email, as: :email %>
          <%= f.input :contact_phone, as: :tel %>
        </div>
      <% end %>

      <%= f.button :submit, class: 'submit-button' %>
    <% end %>
  </div>
</div>
