<%= field_set_tag 'Calculate the area', class: 'area-calculator' do %>
  <div class="area-calculator-tooltip">
    <p>
      Use this calculator to determine the area in m<sup>2</sup>.
      This will override any value within the 'Area' input.
    </p>
  </div>

  <div class="area-calculator-measurements">
    <div class="area-calculator-width">
      <%= label_tag :width, "Width (mm)" %>
      <%= text_field_tag :width, nil, class: 'area-calculator-width-value' %>
    </div>

    <div class="area-calculator-height">
      <%= label_tag :height, "Height (mm)" %>
      <%= text_field_tag :height, nil, class: 'area-calculator-height-value' %>
    </div>

    <div class="area-calculator-calculate">
      <%= button_tag 'Calculate', class: 'area-calculator-button' %>
    </div>
  </div>
<% end %>
