<div id="billing-address-details" class="address">
  <% present billing_address do |address_presenter| %>
    <%= address_presenter.name %>
    <%= address_presenter.line_1 %>
    <%= address_presenter.line_2 %>
    <%= address_presenter.line_3 %>
    <%= address_presenter.city %>
    <%= address_presenter.postcode %>
  <% end %>
  <%= link_to 'Edit', edit_project_billing_address_path(@project), class: 'action-button' %>
</div>
