<div class="contact">
  <%= link_to "Edit", edit_contact_path(contact), class: "action-button" %>
  <%= contact.forename %>
  <%= contact.surname %>
  <%= contact.email %>
  <%= contact.phone %>
  <%= contact.role %>
</div>
