<div class="contact">
  <div class="contact-name">
    <%= contact.forename %>
    <%= contact.surname %>

    <div class="contact-role">
      <%= contact.role %>
    </div>
  </div>

  <div class="contact-details">
    <%= contact.email %>
    <%= contact.phone %>
  </div>

  <div class="contact-edit">
    <%= link_to "Edit", edit_contact_path(contact), class: "action-button" %>
  </div>
</div>
