<%= link_to project.link, class: "project #{cycle('odd', 'even')}" do %>
  <div class="project-name">
    <%= octicon('eye') %>
    <%= project.name %>

    <div class="project-print-jobs-count">
      There are <%= project.print_jobs_count %> print items for this project.
    </div>
  </div>

  <div class="project-status">
    <%= project.status %>
  </div>

  <div class="project-customer-name">
    <%= project.customer_name %>
  </div>
<% end %>
