<div class="content">
  <div class="index">
    <h1>Projects</h1>

    <%= link_to "New Project", new_project_path, class: 'action-button' %>
    <%= render(
      partial: "project_searches/form",
      locals: {
        project_search: @project_search
      }
    ) %>

    <div class="index-items">
      <%= render @projects %>
    </div>

    <%= paginate @projects %>

    <div class="pagination-summary">
      <%= page_entries_info @projects, entry_name: 'projects' %>
    </div>
  </div>
</div>
