<div class="content">
  <div class="main">
    <h1><%= @presented_project.name %></h1>

    <div>
      <%= @presented_project.description %>
    </div>

    <div class="project-menu">
      <%= @presented_project.new_print_job_link %>
      <%= @presented_project.download_pdf_link %>
    </div>

    <%= render "projects/print_jobs", project: @project %>

    <%= render "projects/prices", project: @project %>
  </div>
</div>
