<h1><%= @project.name %></h1>

<%= @project.description %>

<%= render "projects/print_jobs", project: @project %>
<%= render "projects/account_management", project: @project %>
<%= render "projects/design", project: @project %>

