<div class="content">
  <div class="index">
    <h1>My Unpaid Invoices</h1>
    <nav id="my-invoice">
      <ul>
        <li>
          <%= link_to "All", my_invoices_path %>
          <%= link_to "Paid", my_paid_invoices_path %>
          <%= link_to "Unpaid", my_unpaid_invoices_path %>
        </li>
      </ul>
    </nav>

    <%= render @invoices %>
    <%= paginate @invoices %>
  </div>
</div>
