<%= content_for :head do %>
  <style>
    <%= Rails.application.assets.find_asset('download_pdf').to_s %>
  </style>
<% end %>

<%= content_for :javascripts do %>
  <script>
    const stripe = Stripe("<%= ENV['MY_TEAM_STRIPE_PUBLIC'] %>");

    const options = {
      clientSecret: '<%= @charge.client_secret %>',
      // Fully customizable with appearance API.
      appearance: {/*...*/},
    };

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 2
    const elements = stripe.elements(options);

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment');
    paymentElement.mount('#payment-element');
    const form = document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const {error} = await stripe.confirmPayment({
        //`Elements` instance that was used to create the Payment Element
        elements,
        confirmParams: {
          return_url: '<%= complete_customer_invoice_payment_url(@invoice) %>',
        },
      });

      if (error) {
        // This point will only be reached if there is an immediate error when
        // confirming the payment. Show error to your customer (for example, payment
        // details incomplete)
        const messageContainer = document.querySelector('#error-message');
        messageContainer.textContent = error.message;
      } else {
        // Your customer will be redirected to your `return_url`. For some payment
        // methods like iDEAL, your customer will be redirected to an intermediate
        // site first to authorize the payment, then redirected to the `return_url`.
      }
    });
  </script>
<% end %>

<div class="customer-payment content">
  <%= render(
    partial: "customer/brands/header",
    locals: {
      invoice: @invoice
    }
  ) %>

  <div class="invoice-header-wrap">
    <div class="invoice-header">
      <h1>
        Online Payment
      </h1>
    </div>
  </div>

  <div class="invoice-summary">
    <div class="invoice-details">
      <h2>
        <%= @invoice.project.customer_name %>
      </h2>

      <ul class="invoice-breakdown">
        <li>Invoice: <%= @invoice.number %></li>
        <li>Amount (inc. VAT): <%= number_to_currency @invoice.total_inc_vat %></li>
      </ul>
    </div>

    <div class="pay-invoice-form">
      <% if @authorised.present? %>
        <% unless @invoice.paid? %>
          <%= form_tag customer_invoice_payment_path(@invoice), id: "payment-form", data: { secret: @charge.client_secret } do %>
            <div id="payment-element">
              <!-- Elements will create form elements here -->
            </div>


            <div id="error-message">
              <!-- Display error message to your customers here -->
            </div>

            <button id="submit">Submit</button>
          <% end %>
        <% end %>

        <div class="pay-invoice-breakdown">
          <%= render(
            partial: "invoices/#{ @invoice.type.underscore }_project_details",
            locals: {
            project: @invoice.project,
            invoice: @invoice
            }
          ) %>
        </div>
      <% else %>
        <% if params[:postcode].present? %>
          <h1>Error</h1>
          <p><strong>This is not the correct post code</strong>. Please try again, copying from the invoice ensuring spaces are included.</p>
        <% end %>
        <%= form_tag '', method: :get do %>
          <div class="field">
            <%= label_tag :postcode, "Please enter the postcode as it appears on the invoice." %>
            <%= text_field_tag :postcode, params[:postcode] %>
          </div>

          <div class="actions">
            <%= submit_tag 'Confirm', class: 'action-button' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render(
  partial: "customer/brands/footer",
  locals: {
    invoice: @invoice
  }
) %>
