<%= form_for project_search, url: project_search_path, html: { class: 'index-form' } do |f| %>
  <div class="index-search-terms">
    <div class="index-search-item">
      <%= f.label :name, 'Project name search' %>
      <%= f.text_field :name, class: 'autocomplete', placeholder: 'Enter project name', data: { path: "#{autocomplete_path(model: 'Project', field: 'name')}", select: 'log' } %>
    </div>

    <div class="index-search-pagination">
      <%= f.label :per_page, 'Per page' %>
      <%= f.select :per_page, project_search.per_page_options, class: 'inline-block' %>
    </div>
  </div>

  <div class="index-search-filters">
    <div class="quarters">
      <%= f.select :customer_id, Customer.order(name: :asc).pluck(:name, :id), class: 'inline-block', include_blank: 'All customers' %>
    </div>

    <div class="quarters">
      <%= f.select :brand_id, Brand.pluck(:name, :id), class: 'inline-block', include_blank: 'All brands' %>
    </div>

    <% Project.statuses.keys.each do |status| %>
      <%= f.check_box status.to_sym %>
      <%= f.label status.to_sym, status.humanize %>
    <% end %>
  </div>

  <%= f.submit 'Search', class: 'submit-button' %>
<% end %>
