<div class="address">
  <%= link_to "Change", edit_project_shipping_address_path(@project) %> 
  <% present shipping_address do |address_presenter| %>
    <%= address_presenter.name %>
    <%= address_presenter.line_1 %>
    <%= address_presenter.line_2 %>
    <%= address_presenter.line_3 %>
    <%= address_presenter.city %>
    <%= address_presenter.postcode %>
  <% end %>
</div>
