<div class="envisage-invoice <%= invoice.paid? ? 'paid' : 'unpaid' %>">
  <div class="name">
    Name: <%= invoice.name %>
  </div>
  <div class="number">
    Number: <%= invoice.number %>
  </div>
  <div class="percentage">
    Percentage: <%= number_to_percentage invoice.percentage, precision: 0 %>
  </div>
  <div class="amount">
    Total: <%= number_to_currency invoice.amount %>
  </div>
  <div class="vat">
    Vat: <%= number_to_currency invoice.vat %>
  </div>
  <div class="total">
    Total inc Vat: <%= number_to_currency invoice.total_inc_vat %>
  </div>
  <div class="action-buttons">
    <% if invoice.unpaid? %>
      <%= button_to "Mark As Paid", envisage_invoice_path(invoice), method: :patch,
        params: { :"envisage_invoice[paid]" => true }, class: "action-button" %>
    <% else %>
      <strong>Paid</strong>
    <% end %>
  </div>

</div>
