<div class="invoice <%= invoice.paid? ? 'paid' : 'unpaid' %>">
  <div class="download">
    <%= link_to 'Download', download_invoice_envisage_invoice_path(invoice),
                class: 'action-button' %>
  </div>
  <div class="date">
    <%= invoice.created_at.strftime("%-d %B %Y") %>
  </div>
  <div class="name">
    <%= invoice.name %>
  </div>
  <div class="customer-and-project">
    <%= invoice.customer_name %><br>
    <%= invoice.project_name %>
  </div>
  <div class="number">
    <%= invoice.number %>
  </div>
  <div class="percentage">
    <%= number_to_percentage invoice.percentage, precision: 0 %>
  </div>
  <div class="amount">
    <%= number_to_currency invoice.amount %>
  </div>
  <div class="vat">
    <%= number_to_currency invoice.vat %>
  </div>
  <div class="total">
    <%= number_to_currency invoice.total_inc_vat %>
  </div>
  <div class="pay-info">
    <% if invoice.unpaid? %>
      <%= button_to "Mark As Paid", envisage_invoice_path(invoice), method: :patch,
        params: { :"envisage_invoice[paid]" => true }, class: "action-button" %>
    <% else %>
      <strong>Paid</strong>
    <% end %>
  </div>
</div>
