<% cache quote_stage, expires_in: 1.minute do %>
  <% profit = quote_stage.projects.map(&:profit).reduce(0, :+) %>

  <div class="profile-stats-columns">
    <div class="profit-stats-content-container quote-title-<%= quote_stage.name.parameterize %> quote-title-<%= quote_stage.position %>">
      <div class="profit-stats-title">
        <h2 class="profit-type"><%= quote_stage.name %></h2>
        <%= quote_stage.chance %> %
      </div>
      <div class="profit-stats-content">
        Profit all: <strong><%= number_to_currency profit %></strong>
      </div>
        <div class="profit-stats-content">
        expected:
            <strong>
          <%= number_to_currency (profit * quote_stage.multiplier) %>
        </strong>
      </div>
    </div>
  </div>
<% end %>
