<%= content_for :head do %>
  <script>
    $(document).on('change', '#brand_id', function() {
      $(this).parent().submit();
    });
  </script>
<% end %>

<div class="content">
  <div class="index">
    <div class="category-quote-container">
      <div class="quote-container">
        <ul class="quote-type">
          <li>
            <%= link_to 'All', quote_stages_path(brand_id: params[:brand_id]), class: 'quote-type-link' %>
          </li>
          <%= render partial: 'quote_stages/shared/link', collection: @quote_stages, as: :quote_stage %>
        </ul>
      </div>
      <div class="category-container">
        <%= form_tag quote_stages_path, method: :get do %>
          <%= label_tag :brand_id, 'Brand:', class: "category-brand"%>
          <%= select_tag :brand_id, options_for_select(Brand.all.pluck(:name, :id), selected: params[:brand_id]), include_blank: 'Any', class: "category-selector" %>
        <% end %>
      </div>
    </div>
    <%= render @quote_stage_projects %>
  </div>
</div>
