<%= content_for :head do %>
  <script>
    $(document).on('change', '#brand_id', function() {
      $(this).parent().submit();
    });
  </script>
<% end %>

<div class="content">
  <div class="index">
    <%= form_tag quote_stage_path(@quote_stage), method: :get do %>
      <%= label_tag :brand_id, 'Brand' %>
      <%= select_tag :brand_id, options_for_select(Brand.all.pluck(:name, :id), selected: params[:brand_id]), include_blank: 'Any' %>
    <% end %>

    <ul>
      <li>
        <%= link_to 'All', quote_stages_path(brand_id: params[:brand_id]) %>
      </li>
      <%= render partial: 'quote_stages/shared/link', collection: @quote_stages, as: :quote_stage %>
    </ul>

    <%= render @quote_stage_projects %>
  </div>
</div>
