<h3>Calculated Prices</h3>

<div>
  Cost  <%= number_to_currency vehicle_wrap.cost %>
</div>

<div>
  Envisage Price  <%= number_to_currency vehicle_wrap.envisage_price %>
</div>

<div>
  Envisage Trade Price  <%= number_to_currency vehicle_wrap.envisage_trade_price %>
</div>

<div>
  Envisage To My Price  <%= number_to_currency vehicle_wrap.envisage_to_my_price %>
</div>

<div>
  My To Customer Price  <%= number_to_currency vehicle_wrap.my_price %>
</div>
