<%= link_to vehicle_wrap, class: "basic-listing vehicle-wrap #{ cycle('odd', 'even', class: 'vehicle-wrap') }", id: dom_id(vehicle_wrap) do %>
  <div class="vehicle-wrap-name">
    <%= octicon('eye') %>
    <%= vehicle_wrap.name %>
  </div>

  <div class="vehicle-wrap-description">
    <%= simple_format vehicle_wrap.description %>
  </div>

  <div class="vehicle-wrap-vehicle-type">
    <%= vehicle_wrap.vehicle_type_name %>
  </div>
<% end %>
