<div class="content">
  <div class="main">
    <h1 class="vehicle-wrap-name">
      <%= link_to "Edit", edit_vehicle_wrap_path(@vehicle_wrap), class: "action-button" %>
      <%= @vehicle_wrap.name %>
    </h1>

    <div class="vehicle-wrap-vehicle-type">
      <%= @vehicle_wrap.vehicle_type_name %>
    </div>

    <div id="vehicle-wrap-description">
      <%= simple_format @vehicle_wrap.description %>
    </div>

    <%= render(
      partial: "vehicle_wraps/materials",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

    <%= render(
      partial: "vehicle_wraps/supporting_materials",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

    <%= render(
      partial: "vehicle_wraps/labours",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

    <%= render(
      partial: "vehicle_wraps/sundry_items",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

    <%= render(
      partial: "vehicle_wraps/job_specifications",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

    <%= render(
      partial: "vehicle_wraps/mileages",
      locals: { 
        vehicle_wrap: @vehicle_wrap
      }
    ) %>

  </div>
</div>
