<header class="primary-header">
  <nav class="primary-navigation">
    <ul>
      <li>
        <%= link_to "Customers", customers_path %>
      </li>
      <li>
        <%= link_to "Projects", projects_path %>
      </li>
    </ul>
  </nav>

  <% if signed_in? %>
    Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>
</header>
