<h3><%= print_job.name %></h3>

<%= simple_format print_job.description if print_job.description.present? %>

<table>
  <thead>
    <tr>
      <th>
        Unit
      </th>
      <th>
        Name
      </th>
      <th>
        Cost
      </th>
      <th>
        Price
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render(
      partial: "job_sheets/product_items",
      locals: { product_items: print_job.product_items }
    ) %>

    <%= render(
      partial: "job_sheets/supporting_product_items",
      locals: { supporting_product_items: print_job.supporting_product_items }
    ) %>

    <%= render(
      partial: "job_sheets/sundry_items",
      locals: { sundry_items: print_job.sundry_items }
    ) %>

    <%= render(
      partial: "job_sheets/job_specifications",
      locals: { job_specifications: print_job.job_specifications }
    ) %>

    <%= render(
      partial: "job_sheets/labour",
      locals: { labour_items: print_job.labour_items }
    ) %>

    <%= render(
      partial: "job_sheets/mileage",
      locals: { mileages: print_job.mileages }
    ) %>
  </tbody>
</table>

