<header>
  <div class="brand-logo">
    <%= image_tag "logos/envisage.png" %>
  </div>
</header>

<div class="clear"></div>

<%= render(
  partial: "job_sheets/project_details",
  locals: {
    project: project
  }
) %>

<div>
  Cost: <%= number_to_currency project.cost %>
</div>
<div>
  Price To My: <%= number_to_currency project.envisage_to_my_price %>
</div>
<div>
  Profitability: <%= number_to_currency project.envisage_profit %>
</div>

<%= render(
  partial: "job_sheets/totals",
  locals: {
    main_totaliser: Totalisers::Main.new(project: project, for_my: false)
  }
) %>

<%= render(
  partial: "envisage_job_sheets/print_job",
  collection: project.print_jobs,
  as: :print_job
) %>

<%= render(
  partial: "job_sheets/address_details",
  locals: {
    shipping_address: project.shipping_address,
    billing_address: project.billing_address
  }
) %>
